apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
  namespace: default
  labels:
    app: springboot-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: springboot-app
  template:
    metadata:
      labels:
        app: springboot-app
    spec:
      containers:
        - name: springboot-app
          image: 528757819999.dkr.ecr.us-east-1.amazonaws.com/springboot-app:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
      imagePullSecrets:
        - name: ecr-secret

